<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>controller</title>
		<style>
			div.box {
				width: 80%;
				margin: 50px auto;
				background-color: rgb(246, 246, 246);
				padding: 15px;
			}
		</style>
		<!--不同版本之间 性能不同 使用1.2.2版本 输入中文 视图不及时更新-->
		<!--<script src="../js/angular.min.js"></script>-->
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body ng-app='app'>
		<div class="box" ng-controller='ctrl'>
			<!--controller中定义的方法也可以直接使用{{}}调用-->
			name：<input type="text" ng-model='name' placeholder="输入姓名" ng-init="name = 'xuefei'"/><br />
			msg&nbsp;&nbsp;：<input type="text" ng-model="msg" placeholder="说些什么吧" ng-init="msg='haha'"/><br />
			{{returnmsg()}}
		</div>
		<script>
			var vm = angular.module('app',[]);
			vm.controller('ctrl',function($scope){
				$scope.returnmsg = function(){
					return $scope.name +' say: '+$scope.msg
				}
			});
		</script>
	</body>
</html>
